.footer {
    padding: 100px 0px;
    background: #2e2f42;
}


.footer .container {
    display: flex;
    flex-direction: column;

}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #f4f4fd;
    width: 264px;
}

.footer-logo .logo-accent {
    color: #4d5ae5;
}


.footer-logo .logo-light {
    color: #f4f4fd;
}
 


