.hero {
    background-color: #2E2F42;
    padding: 188px 0px;

}
.hero .container { 
    display: flex;
    align-items: center;
    flex-direction: column;


}
.hero-title {
    margin: auto;
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;

}

.hero-btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    
}
.hero-btn:hover,
.hero-btn:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;

}